﻿@model OpenTokDemo.Models.Session

@{
    ViewBag.Title = "Index";
}

<h2>Rozpocznij rozmowę</h2>

<div id="container">
    <h4>Wprowadź id sesji.</h4>
	<hr />
        <input type="text" id="sessionid"  />
        <div class="form-actions no-color">
        <input type="submit" value="Rozpocznij rozmowę" class="btn btn-default" id="submitid" /> 
           
        </div>

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/opentok")

